body
{
	background:url(http://www.papelpintadoeconomico.com/70329-home_default/12477.jpg);
	font-family:"Arial"; 
	width:1000px;   
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px; 
}

h4
{
	color:red;
}
