body
{
	background:url(http://cdn7.staztic.com/app/a/2438/2438145/beige-hd-wallpapers-2-7-s-307x512.jpg);  
	font-family:"Arial"; 
}

.caja0
{
	background:url(http://www.papelpintadoeconomico.com/70329-home_default/12477.jpg);
	width:1000px;   
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px;
}