body
{
	background:url(http://cdn7.staztic.com/app/a/2438/2438145/beige-hd-wallpapers-2-7-s-307x512.jpg);  
	font-family:"Arial"; 
}

h1
{ 
    color:brown;
} 

a
{

	color:red;
}

/*uso de selector tipo class y id*/
.caja1
{
	background:url(http://www.papelpintadoeconomico.com/70329-home_default/12477.jpg);
	width:1000px;   
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px;    

}

.caja2000
{
	background:url(http://www.papelpintadoeconomico.com/70329-home_default/12477.jpg);
	width:1000px;

	position:relative;
	top:;
	bottom:100px;
	right:234;
	left:;
}

.caja
{
	width:1000px;   
	position:relative;
	top:;
	bottom:350;
	right:;
	left:850px;	
}

.caja2
{

	background:url(http://www.papelpintadoeconomico.com/70329-home_default/12477.jpg);
	width:1000px;   
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px;  
}

.caja0
{
	width:1000px;   
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px; 	
}